
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.DS_Store
.refcache
.tags
.targets.mk
.vs
/*-[0-9][0-9].xml
archive.json
draft-irtf-t2trg-rest-iot-??.md
draft-irtf-t2trg-rest-iot.xml
issues.json
lib
report.xml
venv/
